@import compass
@import normalize
$link-color: #86AAD1
$link-hover-color: #345980
$link-visited-color: #6B7580

$font-color: #f1f1f1
//$font-family: "Gentium Basic", "Palatino Linotype","Book Antiqua", Palatino, FreeSerif, serif
$font-family: 'Open Sans', sans-serif
$base-font-size: 100.1%
$base-line-height: 1.5

@include normalize
@import forms

body
  font-family: $font-family
  color: $font-color
  background: #000 image-url("bg.jpg") top center repeat-x
  font-size: $base-font-size
  line-height: $base-line-height

#{headings(all)}
  font-weight: normal
  font-style: normal

a
  color: $link-color
a:visited
  color: $link-visited-color
a:hover, a:focus
  background: $link-hover-color
  color: $font-color
  text-decoration: none

#main
  max-width: 38em
  margin: 0 auto
  padding: 1em

#logo
  margin: 4em 0 2em

#content
  margin-left: 3.4em // ~ velikost M
  section
    padding-top: 1ex

.major
  font-size: 1.4em
.minor
  font-size: 1.2em