/* 
    Document   : main
    Created on : 8.12.2009, 0:16:06
    Author     : syntax
    Description:
        Purpose of the stylesheet follows.
*/

@import url(reset.css);

body
{
	background: #000 url(bg.jpg) top center repeat-x;
	color: #f1f1f1;
	font-family: Georgia, 'Lucida Bright', Lucidabright, 'Lucida Serif', Lucida, 'DejaVu Serif', 'Liberation Serif', serif;
	font-size: 100.1%;
	line-height: 1.5;
}

a
{
	padding: 0.1ex 0.1em;
	color: #f1f1f1;
	background: #345980;
	text-decoration: none;
}
a:visited
{
	background: #1F354D;
	background: rgba(52,89,128, 0.6);
}
a:hover
{
	background: #fff;
	color: #000;
}


#container
{
	width: 38em;
	margin: 0 auto;
}

#header
{
	margin: 4em 0 2em;
}

#main
{
	margin-left: 3.4em; /* ~velikost M */
}

.major
{
	font-size: 1.4em;
}

.minor
{
	font-size: 1.2em;
	margin-top: 1em;
}