<% content_for :head do %>
<title>Archiv newsletteru &ndash; Maelström</title>
<% end %>

<%= partial 'header' %>

<section id="content">
  <h1>Archiv newsletteru</h1>
	<script language="javascript" src="http://us1.campaign-archive1.com/generate-js/?u=b0d2d5f53264cabc557fa8393&fid=47185&show=10" type="text/javascript"></script>
</section>
