<% content_for :head do %>
<title>Přihlášení k newsletteru &ndash; Maelström</title>
<% end %>

<header id="logo">
	<h1>
	<%= link_to image_tag('logo-maelstrom.png', alt: "Maelström"), '/' %>
	</h1>
</header>

<section id="content">
  <h1>Potvrzení e-mailu</h1>
  <p>Děkujeme za váš zájem!</p>
  <p>Pro dokončení přihlášení klikněte na odkaz, který jsme vám zaslali e&#8209;mailem.</p>

  <p class="back"><%= link_to 'Zpět na úvodní stránku', '/' %></p>
</section>
