<% content_for :head do %>
	<title>Přihlášení k newsletteru &ndash; Maelström</title>
	<meta name="robots" content="noindex, follow">
<% end %>

<%= partial 'header' %>

<section id="content">
  <h1>Přihlášení úspěšné</h1>
  <p>Vaše e-mailová adresa byla přidána do databáze.</p>
  <p>Děkujeme, brzy se ozveme!</p>

  <p class="back"><%= link_to 'Zpět na úvodní stránku', '/' %></p>
</section>
