<% content_for :head do %>
<title>Maelström</title>
<meta name="description" content="Maelström je plaformou pro lidi věnující se netradičním a okrajovým zájmům. Do naší činnosti spadají programy na conech, Conventicon a více.">
<% end %>

<header id="logo">
	<h1><%= image_tag 'logo-maelstrom.png', alt: "Maelström" %></h1>
</header>
<!-- /header -->

<div id="content">
	<p class="major">
		Klub Maelström se zabývá okrajovými žánry kultury,<wbr>
		hrami i&nbsp;každodenním světem.
	</p>

	<section id="newsletter">
		<h1>Newsletter</h1>
		<p class="minor">
    		Chcete vědět co děláme?<br>
    		Odebírejte náš nepravidelný&nbsp;newsletter.
  		</p>
		<%= partial 'newsletter' %>
	</section>

	<section id="contact">
		<h1>Kontakt</h1>
		<p class="minor">
			Sledujte nás a napište nám
			<a href="http://www.facebook.com/pages/Maelstrom/155739931949">na&nbsp;Facebook</a>
			nebo nám pošlete e&#8209;mail na&nbsp;<a href="mailto:mm@mael.cz">mm@mael.cz</a>.
		</p>
	</section>

</div>