<% content_for :head do %>
  <title>Maelström</title>
  <meta name="description" content="Maelström je plaformou pro lidi, věnující se netradičním a okrajovým zájmům. Do naší činnosti spadají programy na conech, Conventicon a více.">
<% end%>

<header id="logo">
	<h1><%= image_tag 'logo.png', alt: "Maelström" %></h1>
</header><!-- /header -->

<p class="major">
	Klub Maelström se zabývá okrajovými žánry kultry, hrami i každodenním světem.
</p>

<p class="minor">
	Sledujte nás <a href="http://www.facebook.com/pages/Maelstrom/155739931949">na Facebooku</a>
	nebo nám <a href="mailto:mm&#64;mlstrm.cz">napište</a>.
</p>